<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
<b>Server IPs:</b><br>

CS:GO Minigames - minigames.darkoraclegaming.com<br>
CS:GO Time Surf - surf.darkoraclegaming.com<br>
Minecraft - minecraft.darkoraclegaming.com<br><br>

<b>Team Speak:</b><br>

ts3.darkoraclegaming.com<br><br>

<b>Steam Group:</b><br>

steamcommunity.com/groups/darkoraclegaming
</p>
