<div class="center jumbotron">
  <h1><%= image_tag("main_logo.png", :size => "438x225",  alt: "Dark Oracle Gaming logo") %></h1>
  <h2>
    This is the home page for the
    <a href="#">Dark Oracle Gaming </a>website.<br>
    This site is currently in development.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
