<h1>Dark Oracle Gaming</h1>

<p>
Welcome to Dark Oracle Gaming! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
