<footer class="footer">
  <small>
    Dark Oracle Gaming | Powered by <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://darkoraclegaming.com/forums/viewforum.php?f=10&sid=4af11d9bc9302fb8c6dd240ad08d97f3">News</a></li>
    </ul>
  </nav>
</footer>
